@font-face {
   font-family: 'segoen_slboot';
   font-display: swap;
   src: url('file:///C:/Users/Chamika/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-01-07_002116/fonts/segoen_slboot/font.ttf');
}
